/* @keyframes hideTextLeft {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(calc(-100% - 551px), 0, 0);
    opacity: 1;
  }
}

@keyframes hideTextToRight {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(100%, 0, 0);
    opacity: 1;
  }
}

@keyframes revealTextFromRight {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes revealTextFromLeft {
  0% {
    transform: translate3d(calc(-100% - 551px), 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes revealText {
  0% {
    transform: translate3d(0, 125%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0%, 0);
    opacity: 1;
  }
}

@keyframes hideText {
  0% {
    transform: translate3d(0, 0%, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(0, 125%, 0);
    opacity: 1;
  }
}

.anim-wrapper {
  overflow: hidden;
  position: relative;
}

.anim-wrapper span {
  display: block;
}

.fp-moving-vertically .fp-section.active .anim-wrapper p,
.fp-moving-vertically .fp-section.active .anim-wrapper span {
  animation-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);
  animation-name: revealText;
  animation-duration: 1550ms;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
  opacity: 0;
}

.fp-moving-vertically .fp-section:not(.active) .anim-wrapper p,
.fp-moving-vertically .fp-section:not(.active) .anim-wrapper span {
  animation-name: hideText;
  animation-duration: 1550ms;
  animation-delay: 0ms;
  opacity: 1;
}

.fp-section.active .fp-slide .anim-wrapper p,
.fp-section.active .fp-slide .anim-wrapper span {
  animation-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);
  animation-name: revealText;
  animation-duration: 1550ms;
  animation-fill-mode: forwards;
}

.fp-section.active .fp-slide.active .anim-wrapper p,
.fp-section.active .fp-slide.active .anim-wrapper span {
  animation-delay: 500ms;
}

.fp-moving-right .fp-section.active .fp-slide.active .anim-wrapper p,
.fp-moving-right .fp-section.active .fp-slide.active .anim-wrapper span {
  animation-name: revealTextFromRight;
  opacity: 0;
}

.fp-moving-left .fp-section.active .fp-slide.active .anim-wrapper p,
.fp-moving-left .fp-section.active .fp-slide.active .anim-wrapper span {
  animation-name: revealTextFromLeft;
  opacity: 0;
}

.fp-moving-right .fp-section.active .fp-slide .anim-wrapper p,
.fp-moving-right .fp-section.active .fp-slide .anim-wrapper span {
  animation-name: hideTextLeft;
  opacity: 1;
}

.fp-moving-left .fp-section.active .fp-slide .anim-wrapper p,
.fp-moving-left .fp-section.active .fp-slide .anim-wrapper span {
  animation-name: hideTextToRight;
  opacity: 1;
}

.anim-delay-1 {
  transition-delay: 110ms;
}

.anim-delay-2 {
  transition-delay: 210ms;
}

.anim-delay-3 {
  transition-delay: 310ms;
}

.anim-delay-4 {
  transition-delay: 410ms;
}

.anim-delay-5 {
  transition-delay: 510ms;
}

.anim-delay-6 {
  transition-delay: 610ms;
}

.anim-delay-7 {
  transition-delay: 710ms;
}

.anim-delay-8 {
  transition-delay: 810ms;
}

.anim-delay-9 {
  transition-delay: 910ms;
}

.anim-delay-10 {
  transition-delay: 1010ms;
} */
