@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  height: 100%;
}

body {
  cursor: url(/images/cursor/cursor.png), auto;
  color: theme(colors.primary);
  background-color: theme(colors.beige);
  overflow: hidden;
}

.grecaptcha-badge {
  visibility: hidden !important;
}

body a:hover {
  cursor: url(/images/cursor/cursor-pointer.png), pointer;
}

body button:hover {
  cursor: url(/images/cursor/cursor-pointer.png), pointer;
}

@media (min-width: 1024px) {
  .menu-border {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-image: url("/images/doodleCssSvg/border.svg") 10 10 10 10 stretch
      stretch;
  }
}
