@keyframes sliding {
  0% {
    -webkit-transform: translateX(0em);
    -moz-transform: translateX(0em);
    transform: translateX(0em);
  }
  100% {
    -webkit-transform: translateX(0.1em);
    -moz-transform: translateX(0.1em);
    transform: translateX(0.1em);
  }
}

.images {
  transform-origin: bottom center 0;
  transform-style: preserve-3d;
  animation: sliding 2s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
